<div class="header-container">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>
     <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
       
        <input matInput type="text" id="searchBar" formControlName="city" placeholder="Şehir">
      </mat-form-field>
     
  </form>
      
  <div class="example-button-container">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  </div>
  <footer>
    <p>Telif Hakkı &copy; 2023 Salimhan KIZILIRMAK</p>
  </footer>